{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'layout.css' %}" />
    <title>Document</title>
  </head>
  <body>
    {% include "includes/navbar.html" %}
    <div class="container mx-auto pt-5">
      {% block body %} {% endblock body %}
    </div>
  </body>
</html>
