{% extends 'layout.html' %} {% block body %}

  <div class="text-center text-2xl mb-5">Giriş Yap</div>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <div class="{{ message.tags }} p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
        {{ message }}  
    </div>
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <form method="post" class="">
    {% csrf_token %} {{form.as_p}}
    <div class="w-100 flex justify-end">
      <button
        type="submit"
        class="mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
      Giriş Yap
      </button>
    </div>
  </form>
{% endblock body %}
